#### Untuk pengingat buat data frame

In [1]:
person = {
    'first':'corey',
    'last':'schafer',
    'email':'coreyschaefer@gmail.com'
}

In [2]:
print (person)

{'first': 'corey', 'last': 'schafer', 'email': 'coreyschaefer@gmail.com'}

In [3]:
people = {
    'first':['dudung','eman','Bobi'],
    'last':['serudung', 'suherman','Subobi'],
    'email':['dudung@gmail.com','emangnye@gmail.com','bobie2yahoo.com']
}

#### jika kita panggil email, maka akan muncul list alamat2 email

In [4]:
people['email']

['dudung@gmail.com', 'emangnye@gmail.com', 'bobie2yahoo.com']

#### kita akan membuat data frame

In [5]:
import pandas as pd

In [6]:
df = pd.DataFrame(people)

In [7]:
df

    first      last               email
0  dudung  serudung    dudung@gmail.com
1    eman  suherman  emangnye@gmail.com
2    Bobi    Subobi     bobie2yahoo.com

#### setelah kita buat data framenya, kita panggil misalnya untuk kolom email, misalnya

In [8]:
df['email']

0      dudung@gmail.com
1    emangnye@gmail.com
2       bobie2yahoo.com
Name: email, dtype: object

#### kalau kita periksa jenis dari kolom email diatas adalah suatu Series

In [9]:
type(df['email'])

pandas.core.series.Series

#### Series adalah tipe data dalam pandas yang berbentuk seperti list,  data frame merupakan kontainer dari series object

#### kita juga bisa memanggil series dari email dg cara lain

In [10]:
df.email

0      dudung@gmail.com
1    emangnye@gmail.com
2       bobie2yahoo.com
Name: email, dtype: object

#### akses ke multiple kolom

In [11]:
df[['first','email']]

    first               email
0  dudung    dudung@gmail.com
1    eman  emangnye@gmail.com
2    Bobi     bobie2yahoo.com

In [12]:
type(df[['first','email']])

pandas.core.frame.DataFrame

#### jadi series hanya untuk kolom tunggal, kalau kolomnya banyak akan bertipe data frame

#### untuk melihat isi HEADER kolom

In [13]:
df.columns

Index(['first', 'last', 'email'], dtype='object')

#### untuk melihat Baris yg memiliki index 1

In [14]:
df.iloc[1]

first                  eman
last               suherman
email    emangnye@gmail.com
Name: 1, dtype: object

#### untuk mengakses multiple baris

In [15]:
df.iloc[[0,1]]

    first      last               email
0  dudung  serudung    dudung@gmail.com
1    eman  suherman  emangnye@gmail.com

#### jadi untuk mengakses kolom email dengan baris indeks ke 0, dan 2 saja misalnya

In [16]:
df.iloc[[0,2],2]

0    dudung@gmail.com
2     bobie2yahoo.com
Name: email, dtype: object

#### jadi indeks 0,1,2, adalah index yang dimiliki oleh baris saja,

#### jadi untuk melihat isi baris ke 1 dan 2, kita gunakan loc

In [17]:
df.loc[1:]

  first      last               email
1  eman  suherman  emangnye@gmail.com
2  Bobi    Subobi     bobie2yahoo.com

#### bisa juga untuk mengakses email dari baris indeks ke 1 dan 2 saja misalnya

In [23]:
df.loc[[0,1],'email']

0      dudung@gmail.com
1    emangnye@gmail.com
Name: email, dtype: object

#### untuk menghasilkan BARIS ke 0 dan 1, dari kolom firs dan email adalah

In [26]:
df.loc[[0,1],['first','email']]

    first               email
0  dudung    dudung@gmail.com
1    eman  emangnye@gmail.com

#### bisa juga ditukar nama kolom nya sbb

In [27]:
df.loc[[0,1],['email','first']]

                email   first
0    dudung@gmail.com  dudung
1  emangnye@gmail.com    eman