#### Membuat Index

In [1]:
people = {
    'first':['dudung','eman','Bobi'],
    'last':['serudung', 'suherman','Subobi'],
    'email':['dudung@gmail.com','emangnye@gmail.com','bobie2yahoo.com']
}

In [2]:
import pandas as pd

In [3]:
df = pd.DataFrame(people)

In [4]:
df

    first      last               email
0  dudung  serudung    dudung@gmail.com
1    eman  suherman  emangnye@gmail.com
2    Bobi    Subobi     bobie2yahoo.com

#### jika ingin melihat isi kolom email

In [5]:
df['email']

0      dudung@gmail.com
1    emangnye@gmail.com
2       bobie2yahoo.com
Name: email, dtype: object

#### men set kolom email menjadi kolom index

In [6]:
df.set_index('email')

                     first      last
email
dudung@gmail.com    dudung  serudung
emangnye@gmail.com    eman  suherman
bobie2yahoo.com       Bobi    Subobi

#### tapi kalau kita lihat lagi tabel nya, kolom email belum menjadi index yang tetap

In [7]:
df

    first      last               email
0  dudung  serudung    dudung@gmail.com
1    eman  suherman  emangnye@gmail.com
2    Bobi    Subobi     bobie2yahoo.com

#### untuk menjadikan suatu kolom sebagai index yang tetap

In [8]:
df.set_index('email', inplace=True)

In [9]:
df

                     first      last
email
dudung@gmail.com    dudung  serudung
emangnye@gmail.com    eman  suherman
bobie2yahoo.com       Bobi    Subobi

#### untuk memastikan index nya benar-benar dari kolom email

In [10]:
df.index

Index(['dudung@gmail.com', 'emangnye@gmail.com', 'bobie2yahoo.com'], dtype='object', name='email')

#### Kita ingin melihat informasi dari kolom dengan index yg berisi emangnye@gmail.com

In [12]:
df.loc['emangnye@gmail.com']

first        eman
last     suherman
Name: emangnye@gmail.com, dtype: object

#### jadi kalau kita merujuk ke index 0, maka akan error, karena sekarang index nya adalah alamat email

#### untuk mengembalikan ke index semula

In [13]:
df.reset_index(inplace=True)
df

                email   first      last
0    dudung@gmail.com  dudung  serudung
1  emangnye@gmail.com    eman  suherman
2     bobie2yahoo.com    Bobi    Subobi

#### kita praktekkan di data utama kita