In [1]:
people = {
    'first':['dudung','eman','Bobi'],
    'last':['suherman', 'suherman','Subobi'],
    'email':['dudung@gmail.com','emangnye@gmail.com','bobie2yahoo.com']
}

In [2]:
import pandas as pd

In [3]:
df = pd.DataFrame(people)

In [4]:
df

    first      last               email
0  dudung  suherman    dudung@gmail.com
1    eman  suherman  emangnye@gmail.com
2    Bobi    Subobi     bobie2yahoo.com

#### melihat status baris yang memiliki last name suherman

In [5]:
df['last'] == 'suherman'

0     True
1     True
2    False
Name: last, dtype: bool

#### mem filter /menampilkan baris yang memiliki nama Suherman

In [6]:
filt = (df['last'] == 'suherman')

In [7]:
df[filt]

    first      last               email
0  dudung  suherman    dudung@gmail.com
1    eman  suherman  emangnye@gmail.com

#### Bisa juga dengan method sbb

In [8]:
df.loc[filt]

    first      last               email
0  dudung  suherman    dudung@gmail.com
1    eman  suherman  emangnye@gmail.com

#### tadi khan variable filt dengan rumus
#### filt = (df['last'] == 'suherman')

In [9]:
df[filt]

    first      last               email
0  dudung  suherman    dudung@gmail.com
1    eman  suherman  emangnye@gmail.com

#### sekarang kita menambahkan fungsi dan "&" , atau "|"

#### kita ingin mencari first name dudung dan last name suherman

In [12]:
filt = (df['last'] == 'suherman') & (df['first'] == 'dudung')

In [13]:
df[filt]

    first      last             email
0  dudung  suherman  dudung@gmail.com

#### sekarang kita mencari orang yang memiliki nama depan dudung atau eman

In [14]:
filt = (df['first'] == 'eman') | (df['first'] == 'dudung')

In [15]:
df[filt]

    first      last               email
0  dudung  suherman    dudung@gmail.com
1    eman  suherman  emangnye@gmail.com

#### menampilkan hanya email saja

In [16]:
df.loc[filt,'email']

0      dudung@gmail.com
1    emangnye@gmail.com
Name: email, dtype: object

#### Kita ke data besar untuk menerapkan Filter ini